
        <section class="page-title container-fluid ">
          <div class="row">
            <div class="col-12">
              <p class="text-center">
                <span>GFB</span>
              </p>
            </div>
          </div>
        </section>
        <div class="customeRow">
          <div class="leftside">
            <div class="button-sec">
                  <button mat-raised-button (click)="newFeatureDialog()">New Feature Flag</button>
            </div>
            <div class="button-sec">
              <button mat-raised-button (click)="requestChangeDialog()">Request a change</button>
            </div>
            <div class="button-sec">
             <button mat-raised-button (click)="statusCheckDialog()">Status check</button>
            </div>
          </div>
          <div class="rightSide">
            <div class="button-sec">
              <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
            </div>
          </div>
        </div>
          <div class="container-fluid">
            <div class="row my-4">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <div class="companyHeading">
                      <div class="overalHeading">
                        <h3 class="card-title">Company 1</h3>
                      </div>
                      <div>
                        <h3 class="card-title">Overall: 1</h3>
                      </div>   
                    </div>
                    <div class="row my-4">
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            
                            <h3 class="card-title">Users</h3>
                            <p class="card-text">User 1</p>
                            <p class="card-text">User 2</p>   
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
    
                            <h3 class="card-title">Orgs</h3>
                            <p class="card-text">Org 1</p>
                            <p class="card-text">Org 2</p>                                              
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    
                    <div class="companyHeading">
                      <div class="overalHeading">
                        <h3 class="card-title">Company 2</h3>
                      </div>
                      <div>
                        <h3 class="card-title">Overall: N/A</h3>
                      </div>   
                    </div>
                    <div class="row my-4">
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            
                            <h3 class="card-title">Users</h3>
                            <p class="card-text">User 1</p>
                            <p class="card-text">User 2</p>   
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            <h3 class="card-title">Orgs</h3>
                            <p class="card-text">Org 1</p>
                            <p class="card-text">Org 2</p>          
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>