
<div class="m-3 mainContainer">
    <span><strong style="font-size: larger;">Feature Flags</strong></span>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Features">
        <section class="page-title container-fluid ">
          <div class="row">
            <div class="col-12">
              <p class="text-center">
                <span>GFB</span>
              </p>
            </div>
          </div>
        </section>
        <!-- <div class="row">
          <div class="col-8">
            <div class="row">
            <div class="col-4 container-fluid">
              <button mat-button class="filter_btn"> New Feature Flag <strong></strong></button>
            </div>
            <div class="col-4 container-fluid">
              <button mat-button class="filter_btn"> Request a change <strong></strong></button>
            </div>
            <div class="col-4 container-fluid">
              <button mat-button class="filter_btn"> Status check <strong></strong></button>
            </div>
          </div>
          </div>
          <div class="col-4">
            <div class="col-2 container-fluid">
              <button mat-button class="filter_btn"> Pagination <strong></strong></button>
            </div>
          </div>
        
        
        </div> -->
        <div class="customeRow">
          <div class="leftside">
            <div class="button-sec">
              <button mat-button class="filter_btn"> New Feature Flag <strong></strong></button>
            </div>
            <div class="button-sec">
              <button mat-button class="filter_btn"> Request a change <strong></strong></button>
            </div>
            <div class="button-sec">
              <button mat-button class="filter_btn"> Status check <strong></strong></button>
            </div>
          </div>
          <div class="rightSide">
            <div class="button-sec">
              <button mat-button class="filter_btn">Pagination <strong></strong></button>
            </div>
          </div>
        </div>
        <!-- <div class="row mainFeatureClass container-fluid my-4">
          <div class="row my-4">
            <strong>Feature1</strong>
          <div class="col-6 company-class">
          <strong>
            Company1
          </strong>
           <div class="row my-3 mx-2">
           <div class="col-5 mx-2 users-class">Users</div>
           <div class="col-5 mx-2 users-class">Orgs</div>
           </div>
          </div>
          <div class="orgs-class  col-6 company-class">
          <strong>
            Company2
          </strong> 
          </div>
          </div>
        </div> -->
        <!-- <div class="card"> -->
          <div class="container-fluid">
            <div class="row my-4">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <div class="companyHeading">
                      <div class="overalHeading">
                        <h3 class="card-title">Company 1</h3>
                      </div>
                      <div>
                        <h3 class="card-title">Overall: 1</h3>
                      </div>   
                    </div>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="row my-4">
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            
                            <h3 class="card-title">Users</h3>
                            <p class="card-text">User 1</p>
                            <p class="card-text">User 2</p>   
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
    
                            <h3 class="card-title">Orgs</h3>
                            <p class="card-text">Org 1</p>
                            <p class="card-text">Org 2</p>                                              
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    
                    <div class="companyHeading">
                      <div class="overalHeading">
                        <h3 class="card-title">Company 2</h3>
                      </div>
                      <div>
                        <h3 class="card-title">Overall: N/A</h3>
                      </div>   
                    </div>
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="row my-4">
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            
                            <h3 class="card-title">Users</h3>
                            <p class="card-text">User 1</p>
                            <p class="card-text">User 2</p>   
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            <h3 class="card-title">Orgs</h3>
                            <p class="card-text">Org 1</p>
                            <p class="card-text">Org 2</p>          
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        <!-- </div> -->
      </mat-tab>
      <mat-tab label="Companies">
        <section class="page-title container-fluid ">
          <div class="row">
            <div class="col-12">
              <p class="text-center">
                <span>GFB</span>
              </p>
            </div>
          </div>
        </section>
        <!-- <div class="row">
          <div class="col-8">
            <div class="row">
            <div class="col-4 container-fluid">
              <button mat-button class="filter_btn"> New Feature Flag <strong></strong></button>
            </div>
            <div class="col-4 container-fluid">
              <button mat-button class="filter_btn"> Request a change <strong></strong></button>
            </div>
            <div class="col-4 container-fluid">
              <button mat-button class="filter_btn"> Status check <strong></strong></button>
            </div>
          </div>
          </div>
          <div class="col-4">
            <div class="col-2 container-fluid">
              <button mat-button class="filter_btn"> Pagination <strong></strong></button>
            </div>
          </div>
        
        
        </div> -->
        <div class="customeRow">
          <div class="leftside">
            <!-- <div class="button-sec">
              <button mat-button class="filter_btn"> New Feature Flag <strong></strong></button>
            </div> -->
            <div class="button-sec">
              <button mat-button class="filter_btn"> Request a change <strong></strong></button>
            </div>
            <div class="button-sec">
              <button mat-button class="filter_btn"> Status check <strong></strong></button>
            </div>
          </div>
          <div class="rightSide">
            <div class="button-sec">
              <button mat-button class="filter_btn">Pagination <strong></strong></button>
            </div>
          </div>
        </div>
        <!-- <div class="row mainFeatureClass container-fluid my-4">
          <div class="row my-4">
            <strong>Feature1</strong>
          <div class="col-6 company-class">
          <strong>
            Company1
          </strong>
           <div class="row my-3 mx-2">
           <div class="col-5 mx-2 users-class">Users</div>
           <div class="col-5 mx-2 users-class">Orgs</div>
           </div>
          </div>
          <div class="orgs-class  col-6 company-class">
          <strong>
            Company2
          </strong> 
          </div>
          </div>
        </div> -->
        <!-- <div class="card"> -->
          <div class="container-fluid">
            <div class="row my-4">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Feature1</h3>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="row my-4">
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            <h3 class="card-title">Users</h3>
                            <p class="card-text">User 1</p>
                            <p class="card-text">User 2</p>   
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            <h3 class="card-title">Orgs</h3>
                            <p class="card-text">Org 1</p>
                            <p class="card-text">Org 2</p>      
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Feature2</h3>
                    <!-- <div class="companyHeading">
                      <div class="overalHeading">
                        <h3 class="card-title">Company 1</h3>
                      </div>
                      <div>
                        <h3 class="card-title">Overall: 1</h3>
                      </div>   
                    </div> -->
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <div class="row my-4">
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            <h3 class="card-title">Users</h3>
                            <p class="card-text">User 1</p>
                            <p class="card-text">User 2</p>   
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            <h3 class="card-title">Orgs</h3>
                            <p class="card-text">Org 1</p>
                            <p class="card-text">Org 2</p>      
                            <!-- <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        <!-- </div> -->
      </mat-tab>
      <mat-tab label="Requests">Content 3</mat-tab>
      <mat-tab label="Audit">Content 4</mat-tab>
    </mat-tab-group>
    </div>
    
    